{{!--this is the template--}}


<h1 class="title">Generation Mix by Balancing Authority (US ONLY)</h1>

<div class="form-horizontal form-group form-group-lg row">
     <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
          {{input type="text" value=city class="form-control" placeholder="Where are you located" autofocus="autofocus"}}
     </div>
     <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
          <button class="btn btn-primary btn-lg btn-block" {{action 'getData'}}>Submit</button>
     </div>
</div>

{{#if responseMessage}}
<div class="alert alert-success">{{responseMessage}}</div>
<h2>{{authorityMessage}}</h2>
{{/if}}

<br/><br/>


{{#if piecharts}}
<div class="chart-container" data-template-name="whales">
     {{high-charts mode=mode chartOptions=chartOptions content=model theme=theme}}
</div>
{{/if}}

{{#if model}}
<div class="chart-container" data-template-name="whales">
     <p>There is something here</p>
</div>
{{/if}}

   

   
   

